.list {
  list-style: none;

  /* ITEM */
  .item {
    padding: 1.3rem;
    border-bottom: 1px solid var(--gray);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:first-child {
      border-top: 1px solid var(--gray);
    }

    /* ITEM HOVER */
    &:hover {
      background-color: var(--gray-extra-light);

      .delete-btn {
        display: flex;
      }
      .value {
        transform: translateX(-20px);
      }
      .percentage {
        transform: translateX(-20px);
      }
    }

    /* DESCRIPTION */
    .description {
      padding: 0.5rem;
    }

    /* RIGHT BOX */
    .right-box {
      display: flex;
      align-items: center;
    }

    /* VALUE */
    .value {
      margin-right: 1rem;
      transition: transform 300ms;
    }

    /* PERCENTAGE */
    .percentage {
      font-size: 1.3rem;
      padding: 0.5rem;
      border-radius: var(--border-radius);
      background-color: rgba(0, 0, 0, 0.2);
      transition: transform 300ms;
    }

    /* DELETE BUTTON */
    .delete-btn {
      font-size: 1.9rem;
      display: none;

      &:active {
        transform: translateY(2px);
      }
    }
  }
}

/* INCOME COLORS */
.income .list {
  .value,
  .percentage {
    color: var(--green);
  }
  .percentage {
    background-color: rgba(var(--green-rgb), 0.1);
  }
  .delete-btn {
    svg {
      fill: var(--green);
    }
  }
}
/* EXPENSES COLORS */
.expenses .list {
  .value,
  .percentage {
    color: var(--red);
  }
  .percentage {
    background-color: rgba(var(--red-rgb), 0.1);
  }
  .delete-btn {
    svg {
      fill: var(--red);
    }
  }
}
