.display {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5rem;

  .title {
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
  }

  .budget {
    font-size: 4.6rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .income,
  .expenses {
    display: flex;
    align-items: center;
    padding: 1.2rem;
    border-radius: var(--border-radius);
    font-size: 1.8rem;

    .text {
      flex: 1;
    }
    .value {
      margin-right: 0.5rem;
    }
    .percentage {
      font-size: 1.3rem;
      width: 3.4rem;
      padding: 0.5rem;
      border-radius: var(--border-radius);
      background-color: rgba(var(--color-rgb), 0.2);
      text-align: center;
    }
  }

  /* COLORS AND PERCENTAGE VISIBILITY */
  .income {
    background-color: rgba(var(--green-rgb), 0.8);

    .percentage {
      visibility: hidden;
    }
  }

  .expenses {
    background-color: rgba(var(--red-rgb), 0.8);
  }
}
