/* ================================= */
/* VARIABLES */
/* ================================= */

:root {
  --border-radius: 8px;
  --red: #e45735;
  --red-rgb: 228, 87, 53;
  --green: #019245;
  --green-rgb: 1, 146, 69;
  --gray-extra-light: #f6f6f6;
  --gray-light: #f8f8f8;
  --gray: #ccc;
  --focus-color: var(--green);
}

/* ================================= */
/* GENERAL */
/* ================================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  color: #555;
}

body {
  font-size: 1.6rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: var(--border-radius);
  background: none;
  transition: border 300ms;
  cursor: pointer;

  &:focus {
    outline: 0;
  }
}

/* ================================= */
/* LAYOUT */
/* ================================= */

.container {
  min-height: 100vh;

  /* TOP */
  .top {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(background.jpg);
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* MIDDLE */
  .middle {
    padding: 2.5rem;
    background-color: var(--gray-light);
    border-bottom: 1px solid var(--gray);
  }
}

/* ================================= */
/* BUDGET */
/* ================================= */

.budget {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5rem;

  /* TITLE */
  .title {
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
  }

  /* TOTAL */
  .total {
    font-size: 4.6rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  /* ITEM */
  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
    border-radius: var(--border-radius);
    font-size: 1.8rem;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    &.income {
      background-color: rgba(var(--green-rgb), 0.8);
    }

    &.expenses {
      background-color: rgba(var(--red-rgb), 0.8);
    }

    /* RIGHT BOX */
    .right-box {
      display: flex;
      align-items: center;
    }

    /* VALUE */
    .value {
      margin-right: 1rem;
    }

    /* PERCENTAGE */
    .percentage {
      font-size: 1.6rem;
      padding: 0.5rem;
      border-radius: var(--border-radius);
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}

/* ================================= */
/* ADD FORM */
/* ================================= */

.add-form {
  max-width: 60rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  /* FORM CONTROL */
  .form-control {
    color: inherit;
    padding: 1.4rem;
    border: 1px solid var(--gray);
    border-radius: var(--border-radius);
    margin-right: 1rem;
    transition: border 300ms;
    font-size: 1.4rem;

    &:focus {
      outline: none;
      border: 1px solid var(--green);
    }
  }

  .type {
    font-weight: bold;
  }

  .value {
    width: 100px;
  }
  .description {
    flex: 1;
  }

  /* SUBMIT BUTTON */
  .submit-btn {
    padding: 0 0.8rem;
    font-size: 3rem;
    border: 1px solid transparent;

    svg {
      fill: var(--focus-color);
    }

    &:focus {
      border: 1px solid var(--focus-color);
    }
  }
}

/* ================================= */
/* TRANSACTIONS */
/* ================================= */

.transactions {
  max-width: 80rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: column;
  grid-gap: 5rem;
  padding: 2.5rem;

  /* LABEL */
  .label {
    text-transform: uppercase;
    font-size: 2.2rem;
    font-weight: normal;
    margin-bottom: 1rem;
    margin-left: 1.3rem;
  }

  /* LIST */
  .list {
    list-style: none;
  }

  /* ITEM */
  .item {
    padding: 1.3rem;
    border-bottom: 1px solid var(--gray);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:first-child {
      border-top: 1px solid var(--gray);
    }

    /* ITEM HOVER */
    &:hover {
      background-color: var(--gray-extra-light);

      .delete-btn {
        display: flex;
      }
      .value {
        transform: translateX(-20px);
      }
      .percentage {
        transform: translateX(-20px);
      }
    }

    /* RIGHT BOX */
    .right-box {
      display: flex;
      align-items: center;
    }

    /* VALUE */
    .value {
      margin-right: 1rem;
      transition: transform 300ms;
    }
    
    /* PERCENTAGE */
    .percentage {
      font-size: 1.3rem;
      padding: 0.5rem;
      border-radius: var(--border-radius);
      background-color: rgba(0, 0, 0, 0.2);
      transition: transform 300ms;
    }

    /* DELETE BUTTON */
    .delete-btn {
      font-size: 1.9rem;
      display: none;
      
      &:active {
        transform: translateY(2px);
      }
    }
  }

  /* INCOME COLORS */
  .income {
    .label,
    .value,
    .percentage {
      color: var(--green);
    }
    .percentage {
      background-color: rgba(var(--green-rgb), 0.1);
    }
    .delete-btn {
      svg {
        fill: var(--green);
      }
    }
  }
  /* EXPENSES COLORS */
  .expenses {
    .label,
    .value,
    .percentage {
      color: var(--red);
    }
    .percentage {
      background-color: rgba(var(--red-rgb), 0.1);
    }
    .delete-btn {
      svg {
        fill: var(--red);
      }
    }
  }
}